.cartCont{
    width: 100%;
    padding: 2rem;
}

.cartCont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cartCont .cartItemCont{
    display: flex;
    width: 700px;
    /* justify-content: space-between; */
    align-items: center;
    text-align: center;
}

.cartCont .cartItemCont .imgCont{
    width: 10%;
}

.cartCont .cartItemCont .imgCont img{
    width: 100%;
}

.cartCont .cartItemCont .detailCont{
    width: 70%;
}

.cartCont .cartItemCont .qtyCont, .cartCont .cartItemCont .actionCont{
    width: 10%;

}

.cartCont form{
    border-bottom: 1px solid lightgrey;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.cartCont form input{
    padding: 10px;
    text-align: center;
    outline: none;
}

.cartCont form button{
    padding: 10px 20px;
    margin: 2rem;
}

.cartCont .checkoutCont button{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 2rem 2rem 0 0 ;
    cursor: pointer;
}
