.checkoutCont{
    width: 100%;
    padding: 2rem;
    text-align: center;
}

.checkoutCont form{
    margin-top: 100px ;
}

.checkoutCont form input, .checkoutCont form button{
    padding: 10px 20px;
    outline: none;
    margin: 0.5rem;
}

.checkoutCont form input{
    width: 300px;
}

.checkoutCont form button{
    color: white;
    background-color: rgb(76, 122, 192);
    border: none;
    cursor: pointer;
}