.editProductCont{
    width: 100%;
    padding: 2rem;
    text-align: center;
}

.editProductCont form {
    padding-bottom: 50px ;
} 

.editProductCont form input, button{
    padding: 10px 20px;
    margin: 0.5rem 0 1.5rem 0;
    outline: none;
}


.editProductCont form button{
   background-color: rgb(76, 122, 192);
   border: none;
   outline: none;
   color: white;
   cursor: pointer;
}