.formCont{
    width: 100%;
    padding: 2rem;
    text-align: center;
  
}

.formCont form input{
    width: 300px;
}

.formCont form button{
    cursor: pointer;
}

.formCont form input, .formCont form button{
    padding: 10px 20px;
    margin: 0.5rem;
    outline: none;
}

.formCont .signUp{
    margin-top: 2rem;
}