.navbar{
    width: 100vw;
    height: 90px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.navbar > div{
    margin: 0 2rem;
}

.navbar .logoContainer img{
    height: 90px;
}

.navbar .searchContainer{
    width: 40%;
}

.navbar .searchContainer input{
    width: 100%;
    border: none;
    outline: none;
    background-color: rgb(224, 227, 240);
    padding: 20px;
    border-radius: 10px;
}

.navbar .menuContainer .cnt1{
   margin: 0 1rem;
   position: relative;
   font-size: 1.2rem;

}

