<link rel="stylesheet" href="/css/adminNavbar.css">

<div class="adminNavbar">
    <ul>
        <a href="/admin/add-product"><li>Products</li></a>
        <a href="/admin/orders"><li>Orders</li></a>
        <a href="/admin/customers"><li>Customers</li></a>
    </ul>
</div>