<div class="cardActions">
    <form action="/cart/add-to-cart" method="post">
        <button>Add to Cart</button>
        <input type="hidden" name="productId" value="<%= product.id %>" >
    </form>
</div>